* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    
    body{
        background-color: rgb(250, 224, 224);
        h1{
            text-align:center;
        }
    }
}

#root{
    height: 100vh;
}

header{
    background-color: rgb(156, 154, 154);
    display: flex;
    padding: 0.8rem 1rem;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 1px 2px;
    
}

a{
    text-decoration: none;
}

    nav{
        a{
            margin-left: 1rem;
            display: inline-block;
            color: black;
        }
    }

.libro{
    margin: 10px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% /0.3);
    padding: 10px;
    border-radius: 3px;
    width: 300px;
    --bs-bg-opacity: 0.25;
    background-color: rgb(182, 182, 182);
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;
    

    p{  
    text-align: center;
    }

    h3{
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        text-align: center;
    }
    img{
        margin: 10px;
        margin-left: 25px;

    }
    
}

.listaProductos{
    float: left;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    flex-flow: wrap;
    
}
.itemDetailContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 23px;
    margin-bottom: 55px;
}
.libroDetalle{
    display: flex;
    width: 600px;
    margin: 10px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% /0.3);
    padding: 10px;
    border-radius: 5px;
    --bs-bg-opacity: 0.25;
    background-color: rgb(182, 182, 182);
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;


    h3{
        text-align: left;
    }
}

.carga{
    margin-bottom: 579px;
}

.columna{
    flex: 50%;

}
.columna1{
    flex: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#greeting1{
    margin: 10px;
}

.itemCount{
    height: 80px;
    width: 200px;
    margin: 10px;
    padding: 7px;
    background-color: rgb(156, 154, 154);
    text-align: center;
   
}

.carrito-vacio{
    text-align: center;
    margin-bottom: 548px;
    h2{
        padding: 10px;
    }
}

.checkOut{
    margin: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    h2{
        margin:10px;
    }
    button{
        margin: 30px;
    }
}

.checkoutcarrito{
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    button{
        margin:20px;
    }
}

.form{
    margin-top: 20px
}

footer{
    background-color: rgb(156, 154, 154);
    display: flex;
    padding: 0.8rem 1rem;
    box-shadow: 0px -1px 2px;
    bottom: 0;
    width: 100%;
    
}

.buscador-orden{
    text-align: center;
    display: flex;
    margin: 5px;
    h4{
        margin: 5px;
    }
    input{
        margin: 5px;
    }
    button{
        margin: 5px;
    }
}

.orden-no-encontrada-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;

    h3{
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

}

.ordenDetalle{
    display: flex;
    width: 600px;
    margin: 10px;
    box-shadow: 0 6px 6px hsl(0deg 0% 0% /0.3);
    padding: 10px;
    border-radius: 5px;
    --bs-bg-opacity: 0.25;
    background-color: rgb(182, 182, 182);
    --bs-text-opacity: 1;
    color: rgba(var(--bs-dark-rgb),var(--bs-text-opacity))!important;

    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.libro:hover{
    transform: scale(1.05);
}